* {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../img/12.png");
  opacity: 80%;
  margin: 0px 40px;
}
header div {
  padding: 10px;
  margin-left: 40px;
}
header div h1 {
  color: white;
}
header div h2 {
  color: rgb(8, 212, 100);
  padding-bottom: 5px;
}
header div p {
  width: 400px;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
header div button {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(12, 166, 81);
  color: white;
  font-size: 17px;
  font-weight: bold;
}

footer {
  background-color: rgb(12, 166, 81);
  border-top: rgb(255, 94, 0) solid 2px;
}
footer p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.localesTotal {
  display: flex;
  justify-content: center;
}
.localesTotal .local {
  width: 800px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(8, 212, 100);
  border-radius: 5px;
  margin: 20px 0px;
}
.localesTotal .local img {
  display: flex;
  justify-content: start;
  border-radius: 5px;
  height: 250px;
}
.localesTotal .local h3 {
  font-size: 22px;
  margin: 20px 0px;
  margin-left: 30px;
}
.localesTotal .local h4 {
  font-size: 20px;
  margin: 20px 0px;
  margin-left: 24px;
  color: white;
}
.localesTotal .local .cajitaHorarios {
  margin: 20px 40px;
}

.titulos {
  display: flex;
  justify-content: center;
}
.titulos .titulo {
  margin-bottom: 40px;
  margin-top: 80px;
}

.nosotros {
  display: flex;
  justify-content: center;
  width: 600px;
}
.nosotros .nosotro {
  text-align: center;
}
.nosotros .nosotro img {
  width: 450px;
  border-radius: 5px;
}
.nosotros .nosotro p {
  margin: 10px 0px;
  font-size: 20px;
}