.nosotros {
    display: flex;
    justify-content: center;
    width: 600px;
    .nosotro {
        text-align: center;
        img {
            width: 450px;
            border-radius: 5px;
        }
        p {
            margin: 10px 0px;
            font-size: 20px;
        }
    }
}